body {
	background-color: purple;
}
.btn-masuk {
	background-color: blue;
	height: 50px;
	width: 100px;
	color: white;
}
.kiri{
	float : left;
	border:2px solid;
}
.kanan{
	float: right;
	border:2px solid;

}